addict==2.4.0
albumentations==1.3.1
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
altair==5.3.0
appdirs==1.4.4
attrs==23.2.0
bidict==0.23.1
blinker==1.8.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61srkg7e2e/croot/click_1698129815327/work
colorama==0.4.6
contourpy==1.1.1
crcmod==1.7
cryptography==42.0.7
cycler==0.12.1
decorator==4.4.2
dill==0.3.6
efficientnet-pytorch==0.7.1
einops==0.8.0
ffmpeg-python==0.2.0
filelock==3.14.0
Flask @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b4a2svwk0s/croot/flask_1702980026964/work
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
fonttools==4.51.0
fsspec==2024.3.1
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
grad-cam==1.4.8
greenlet @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_516imz09pb/croot/greenlet_1702059966336/work
h11==0.14.0
huggingface-hub==0.23.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
importlib-metadata @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_5498c88e7n/croot/importlib_metadata-suite_1704813534254/work
importlib_resources==6.4.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_7dognxkzoy/croot/jinja2_1706733627811/work
jmespath==0.10.0
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lapx==0.5.9
lazy_loader==0.4
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a84ni4pci8/croot/markupsafe_1704206002077/work
matplotlib==3.7.5
mdurl==0.1.2
mmcv==2.2.0
mmengine==0.10.4
model-index==0.1.11
moviepy==1.0.3
mpmath==1.3.0
networkx==3.1
numpy==1.24.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.38
ordered-set==4.1.0
oss2==2.17.0
packaging==24.0
pandas==2.0.3
pillow==10.3.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.1
proglog==0.1.10
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==16.1.0
pycairo==1.26.0
pycocotools==2.0.7
pycparser==2.22
pycryptodome==3.20.0
pydeck==0.9.1
Pygments==2.18.0
PyGObject==3.48.2
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5_sip==12.13.0
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-socketio==5.11.2
pytorch-wavelets==1.3.0
pytz==2023.4
PyWavelets==1.4.1
PyYAML==6.0.1
qudida==0.0.4
referencing==0.35.1
requests==2.28.2
rich==13.4.2
rpds-py==0.18.1
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
SQLAlchemy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_178d1hepo8/croot/sqlalchemy_1705089115295/work
streamlit==1.34.0
sympy==1.12
tabulate==0.9.0
tenacity==8.3.0
termcolor==2.4.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tidecv==1.0.1
tifffile==2023.7.10
timm==0.9.8
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.0
torch-pruning==1.3.7
torchvision==0.18.0
tornado==6.4
tqdm==4.65.2
ttach==0.0.3
typing_extensions @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93dg13ilv4/croot/typing_extensions_1715268840722/work
tzdata==2024.1
ui==0.1.4
ultralytics==8.2.15
urllib3==1.26.18
watchdog==4.0.0
Werkzeug @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_94_079eho7/croot/werkzeug_1706210081645/work
wsproto==1.2.0
yapf==0.40.2
zipp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_31jm3q76eq/croot/zipp_1704206913245/work
